@model api.Messaging.Views.EmailLayoutViewModel

@{ var footerColorStyle = "color: lightgray;"; }

<!DOCTYPE html>
<html>
	<head>
		<title>@Model.Title</title>
	</head>
	<body style="font-family:monospace;text-align:center;">
		@RenderBody()
		<p style="@footerColorStyle">
			<small>
				<a href="@Model.WebServerEndpoint.CreateUrl()" style="@footerColorStyle">reallyread.it</a> |
				PO Box 1337 Seaside Heights, NJ 08751 |
				<a href="mailto:jeff@reallyread.it" style="@footerColorStyle">info@@reallyread.it</a>
			</small>
		</p>
	</body>
</html>