@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.FreeTrialCompletionEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">You’ve checked out all your free articles on Readup, we hope you enjoyed them!</div>
<div style="margin:1em 0;">At this point, you can still poke around on Readup, browse article titles and follow web links. <span style="font-weight:bold;">But you won’t be able to read any new articles until you purchase a paid subscription.</span> <a href="@Model.Content.SubscribeUrl">Pick a price</a> that feels right to you. The minimum is $4.99/mo. The price you choose is totally private.</div>
<div style="margin:1em 0;">
	@await Html.PartialAsync("Shared/Button", (Text: "Subscribe now", Url: @Model.Content.SubscribeUrl))
</div>
<div style="margin:1em 0;">Subscribing to Readup is joining an internet compensation revolution. Readup keeps 5% of your subscription and saves the rest for the writers and publishers you read. They can come and <a href="@Model.Content.WriterLeaderboardUrl">get payed out at any time</a>. Readup is like Spotify (for reading) but with one key difference. On Spotify, you can’t see how much of your money actually goes to the musicians. On Readup, that’s entirely transparent. To see how it all works, watch this 3-minute demo video:</div>
<div style="margin:1em 0;text-align:center;">
	<a href="https://www.youtube.com/watch?v=JwQOsdnywUs">
		<img src="@Model.CreateImageUrl("how-it-works-video-thumbnail.png")" alt="How It Works video thumbnail." style="width:100%;max-width:400px;" />
	</a>
</div>
<div style="margin:1em 0;">Reading matters. Paying for good writing matters. This is the beginning of a much brighter future for the web. Join today!</div>
<div style="margin:1em 0;">
	@await Html.PartialAsync("Shared/Button", (Text: "Subscribe now", Url: @Model.Content.SubscribeUrl))
</div>
<div style="margin:1em 0;">Sincerely,</div>
<div style="margin:1em 0;">
	Bill Loundy<br />
	CEO of Readup
</div>
<div style="margin:1em 0;">PS: want to squeeze out some more free reads? If you haven’t already, go to the Free Trial screen in the app and Tweet about Readup. You’ll get 5 more free views.</div>