@* Copyright (C) 2022 reallyread.it, inc. *@

@* This file is part of Readup. *@

@* Readup is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License version 3 as published by the Free Software Foundation. *@

@* Readup is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. *@

@* You should have received a copy of the GNU Affero General Public License version 3 along with Foobar. If not, see <https://www.gnu.org/licenses/>. *@

@model api.Messaging.Views.LayoutViewModel

<!DOCTYPE html>
<html style="margin:0;padding:0;background-color:#F7F6F5;">
	<head>
		<title>@Model.Title</title>
	</head>
	<body style="margin:0;padding:0;background-color:#F7F6F5;">
		<div style="padding:2em 1em;font-family:sans-serif;font-size:12pt;background-color:#F7F6F5;">
			<div style="max-width:600px;margin:0 auto;padding:0.5em 1em;color:#2A2326;background-color:white;border:1px solid #e0e0e0;border-radius:0.25em;">
				<div style="margin:1em 0;text-align:center;">
					<a href="@Model.HomeUrl" style="display:inline-block;">
						<img src="@Model.CreateImageUrl("logo.png")" alt="Logo" style="display:block;width:96px;margin:0 auto;" />
					</a>
				</div>
				@RenderBody()
				@await Html.PartialAsync("Shared/HorizontalRule")
				@if (Model.Subscription != null) {
					<div style="margin:1em 0;text-align:center;font-size:10pt;color:#666;">You've received this message because you're subscribed to @Model.Subscription.</div>
					<div style="margin:1em 0;text-align:center;font-size:10pt;color:#666;"><a href="@Model.SubscriptionsUrl" style="color:#666;">Update your notification preferences or unsubscribe.</a></div>
				}
				<div style="margin:1em 0;text-align:center;font-size:10pt;color:#666;">
					<a href="@Model.HomeUrl" style="color:#666;">readup.com</a> | <a href="mailto:support@readup.com" style="color:#666;">support@@readup.com</a>
				</div>
				<div style="margin:1em 0;text-align:center;font-size:10pt;color:#666;">
					<div style="margin:0.5em 0;">
						<strong>Get Readup on all your devices</strong>
					</div>
					<div style="margin:0.5em 0;">
						<a style="display:inline-block;margin-right:0.5em;" href="https://apps.apple.com/us/app/readup-social-reading/id1441825432">
							<img style="display:block;height:40px;" src="@Model.CreateImageUrl("apple.png")" alt="Apple Logo" />
						</a>
						<a style="display:inline-block;margin-right:0.5em;" href="https://chrome.google.com/webstore/detail/readup/mkeiglkfdfamdjehidenkklibndmljfi">
							<img style="display:block;height:40px;" src="@Model.CreateImageUrl("chrome.png")" alt="Chrome Logo" />
						</a>
						<a style="display:inline-block;margin-right:0.5em;" href="https://addons.mozilla.org/en-US/firefox/addon/readup/">
							<img style="display:block;height:40px;" src="@Model.CreateImageUrl("firefox.png")" alt="Firefox Logo" />
						</a>
						<a style="display:inline-block;" href="https://microsoftedge.microsoft.com/addons/detail/readup/nnnlnihiejbbkikldbfeeefljhpplhcm">
							<img style="display:block;height:40px;" src="@Model.CreateImageUrl("edge.png")" alt="Edge Logo" />
						</a>
					</div>
				</div>
				<div style="margin:1em 0;text-align:center;font-size:10pt;color:#666;">
					reallyread.it, inc.<br />
					309 Poe Ave<br />
					Toms River NJ 08753
				</div>
			</div>
			<img src="@Model.OpenImageUrl" alt="Hello" />
		</div>
	</body>
</html>