@model api.Messaging.Views.ReplyNotificationEmail

<!DOCTYPE html>
<html>
	<head>
		<title>@Model.Title</title>
	</head>
	<body>
		<div style="max-width:600px;margin:0 auto;padding:10px 0 0 0;text-align:center;font-size:13pt;font-family:sans-serif;">
			<p>@Model.Respondent writes:</p>
			<p>@Model.CommentText</p>
			<p>Post a reply by replying to this email or <a href="@Model.ApiServerEndpoint.CreateUrl("/Notifications/" + Model.ViewCommentToken)">view the comment on Readup</a>.</p>
			<img src="@Model.ApiServerEndpoint.CreateUrl("/Notifications/" + Model.OpenToken)" alt="" />
			<p style="color: darkgray;">
				<a href="@Model.WebServerEndpoint.CreateUrl()" style="color: darkgray;">readup.com</a> |
				<a href="mailto:support@readup.com" style="color: darkgray;">support@@readup.com</a>
			</p>
			<p style="color: darkgray;">
				You are receiving this email because you are subscribed to comment reply notifications on Readup.<br />
				<a href="@Model.WebServerEndpoint.CreateUrl("/email/subscriptions?token=" + Model.SubscriptionsToken)" style="color: darkgray;">Manage your email subscriptions / Unsubscribe</a>
			</p>
		</div>
	</body>
</html>