@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.WelcomeEmailViewModel>

@{
	Layout = "Layout";
}

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">Welcome to Readup! You can see <a href="@Model.Content.ProfileUrl" style="font-weight:bold;">your profile</a> here.</div>
<div style="margin:1em 0;font-weight:bold;">The internet makes it hard to <span style="font-style:italic;">actually</span> read articles. We fixed that! And we’ve seen the positive impact that deep, focused reading has on people’s lives.</div>
<div style="margin:1em 0;">We want your first reading experiences to be excellent. So, here are some recent Article of the Day (AOTD) winners that we think you might enjoy:</div>
@if (Model.Content.ShortRead != null || Model.Content.MediumRead != null || Model.Content.LongRead != null) {
	<div style="margin:1em 0;border: 1px solid #c3c3c3;border-radius: 3px; ">
		@if (Model.Content.ShortRead != null) {
			<div style="margin:1em 0;">
				@await Html.PartialAsync("Shared/ArticleMinimal", @Model.Content.ShortRead)
			</div>
		}
		@if (Model.Content.MediumRead != null) {
			<div style="margin:1em 0;">
				@await Html.PartialAsync("Shared/ArticleMinimal", @Model.Content.MediumRead)
			</div>
		}
		@if (Model.Content.LongRead != null) {
			<div style="margin:1em 0;">
				@await Html.PartialAsync("Shared/ArticleMinimal", @Model.Content.LongRead)
			</div>
		}
	</div>
}
<div style="margin:1em 0;">Whenever you open the Readup app, you’re always just one or two clicks away from a great article or story.</div>
<div style="margin:1em 0;">Finally, make sure to get Readup on <a href="@Model.Content.DownloadUrl">all your devices</a>.</div>
<div style="margin:1em 0;">Happy reading! I’ll see you in the comments!</div>
<div style="margin:1em 0;">Sincerely,</div>
<div style="margin:1em 0;">
	Bill Loundy<br />
	Readup&apos;s Co-founder
</div>
<div style="margin:1em 0;">P.S. If you run into issues or have questions, we'll be glad to help you <a href="https://discord.gg/XQZa8pHdVs">in our Discord community</a>.</div>
